* {
  font-family: "Montserrat", sans-serif;
}

.select2-container {
  min-width: 100%;
}
span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
  width: 100% !important;
  min-width: 100% !important;
}

.current-timezone {
  background: #000000 !important;
  color: white !important;
}

.current-timezone .timezone-name {
  color: white !important;
}

.current-timezone:hover {
  background: #000000 !important;
  color: white !important;
}

.someToastAnimation {
  animation: someToastAnimation 0.2s ease-in-out;
}

@keyframes someToastAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
